.hidden {
  display: none;
  visibility: hidden;
}

.window{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  height: 100%;
  z-index: 1;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}
